

html {
  color: aliceblue;
}

body {
  background-color: #282c34;
}

.App {
  /* float: left; */
  /* display:inline-block; */
  width: 50%;
}

.App h2 {
  /* color: aliceblue; */
  text-decoration-line: underline;
}

.maindiv {
  display: flex;
}

.flex-child {
  flex: 1;
}